<div class="fixed-action-bar">
    <div class="container">
        <div class="action-buttons">
            <a href="tel:891234567890" class="action-btn action-btn-call">
                <i class="fas fa-phone-alt"></i> Позвонить
            </a>
<!--            <a href="https://vk.ru/parus716" target="_blank" class="action-btn action-btn-vk">-->
<!--                <i class="fab fa-vk"></i> Написать в VK-->
<!--            </a>-->
<!--            <a href="https://max.ru/join/eQHll3JM1boZPlxsAH3zQyRp16h70o-PBpdESR2ab7s" target="_blank" class="action-btn action-btn-max">-->
<!--                <i class="fas fa-comment-dots"></i> Написать в MAX-->
<!--            </a>-->
            <a href="#" class="action-btn action-btn-callback open-modal-btn">
                <i class="fas fa-headset"></i> Связаться с нами
            </a>
        </div>
        <div class="work-info">
            <i class="fas fa-clock"></i> Круглосуточно, без выходных<br>
            <span style="font-size: 0.75rem;">Анонимно. Бесплатная консультация</span>
        </div>
    </div>
</div>